/*
** Reset CSS for page syndication module
*/

.page-syndication-reset,.page-syndication-reset div,.page-syndication-reset dl,.page-syndication-reset dt,.page-syndication-reset dd,.page-syndication-reset ul,.page-syndication-reset ol,.page-syndication-reset li,.page-syndication-reset h1,.page-syndication-reset h2,.page-syndication-reset h3,.page-syndication-reset h4,.page-syndication-reset h5,.page-syndication-reset h6,.page-syndication-reset pre,.page-syndication-reset form,.page-syndication-reset fieldset,.page-syndication-reset input,.page-syndication-reset textarea,.page-syndication-reset p,.page-syndication-reset blockquote,.page-syndication-reset th,.page-syndication-reset td
{margin:0;padding:0;text-align:left;font-size:100%;font-weight:normal;letter-spacing:0;text-transform:none;}

.page-syndication-reset table
{border-collapse:collapse;border-spacing:0;}

.page-syndication-reset fieldset,.page-syndication-reset img
{border:0;}

.page-syndication-reset address,.page-syndication-reset caption,.page-syndication-reset cite,.page-syndication-reset code,.page-syndication-reset dfn,.page-syndication-reset em,.page-syndication-reset strong,.page-syndication-reset th,.page-syndication-reset var
{font-style:normal;font-weight:normal;}

.page-syndication-reset ol,.page-syndication-reset ul
{list-style:none;}

.page-syndication-reset caption,.page-syndication-reset th
{text-align:left;}

.page-syndication-reset h1,.page-syndication-reset h2,.page-syndication-reset h3,.page-syndication-reset h4,.page-syndication-reset h5,.page-syndication-reset h6
{font-size:100%;font-weight:normal;}

.page-syndication-reset q:before,.page-syndication-reset q:after
{content:'';}

.page-syndication-reset abbr,.page-syndication-reset acronym
{border:0;}

* .page-syndication-reset.page-syndication-content div{
zoom: 1.0;
}